name: DCO check

on:
  workflow_call:
  pull_request:
    branches:
      - main
      - master

jobs:
  commits_check_job:
    runs-on: ubuntu-slim
    name: Commits Check
    steps:
    - name: Get PR Commits
      id: 'get-pr-commits'
      uses: tim-actions/get-pr-commits@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: DCO Check
      uses: tim-actions/dco@master
      with:
        commits: ${{ steps.get-pr-commits.outputs.commits }}
